{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock %}

{% block body %}
    <h2 class="mt-3 mb-4">Nous contacter</h2>
    <div class="row">
        <div class="col-lg-8">
            <p class="text-justify">Vous avez des questions à nous poser ou un problème avec votre commande ? N'hésitez pas à nous contacter grâce au formulaire ci-dessous, nous vous répondrons dans le plus brefs délais.</p>
            
            {% if app.user %}

                {{ form_start(form, {'action': path('send_email'), 'method': 'POST'}) }}

                <div class="row">
                    <div class="col">
                        {{ form_row(form.nom, { 'label': 'Votre nom : ', 'attr': {'disabled': 'true', 'value': app.user.lastname}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.prenom, { 'label': 'Votre prénom : ', 'attr': {'disabled': 'true', 'value': app.user.firstname}}) }}
                    </div>
                </div>

                {{ form_row(form.email, { 'label': 'Votre adresse email : ', 'attr': {'disabled': 'true', 'value': app.user.email}}) }}

                {{ form_row(form.subject, { 'label': 'Type de question : ' }) }}

                {{ form_row(form.message, { 'label': 'Votre message : ' }) }}

                {{ form_end(form) }}

            {% else %}
                
                {{ form_start(form, {'action': path('send_email'), 'method': 'POST'}) }}

                <div class="row">
                    <div class="col">
                        {{ form_row(form.nom, { 'label': 'Votre nom : ' }) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.prenom, { 'label': 'Votre prénom : ' }) }}
                    </div>
                </div>
                {{ form_row(form.email, { 'label': 'Votre adresse email : ' }) }}

                {{ form_row(form.subject, { 'label': 'Type de question : ' }) }}
                
                {{ form_row(form.message, { 'label': 'Votre message : ' }) }}

                {{ form_end(form) }}

            {% endif %}

        </div>
        <div class="col-lg-4">
            <div class="border rounded">
                <div id="map"></div>
                <p class="ml-3 mt-3">Adresse : 10 rue de Verdun, 21350 Vitteaux</p>
                <p class="ml-3">Téléphone : 06 78 57 29 15</p>
                <p class="ml-3">Horaires d'ouverture :<br><span>Vendredi : 15h - 18h</span><br><span>Samedi : 16h - 18h</span></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script>
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        var lat = 47.395906;
        var lon = 4.544577;
        var macarte = null;
        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map').setView([lat, lon], 18);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte);

            var marker = L.marker([lat, lon]).addTo(macarte)
                .bindPopup('Brasserie Burgonde')
                .openPopup();;
        }
        window.onload = function(){
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap(); 
        };
        </script>
    </script>
{% endblock %}