{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


<div class="d-flex container align-items-center h-100">
    {% block body %}
        <div class="m-auto form-group col-lg-5">
            <a href="{{ path('home') }}"><img class="img-fluid mb-4" src="images/brasserie_medium.png"></a>
            <h3 class="mb-3 text-center">Récupération de mot de passe</h3>

            {{ form_start(form, {'action': 'mot_de_passe_oublie'}) }}

            {{ form_row(form.email, {'label': 'Adresse email'}) }}

            {{ form_row(form.submit, {'label': 'Confirmer', 'attr': {'class': 'btn btn-lg btn-block button'}}) }}

            {{ form_end(form) }}
            
        </div>
    {% endblock %}
</div>